#Unassited Practice Question
* Create a nested dictionary
* Create 3 dictionaries then create 1 dictionary that will contain the other 3 dictionaries.
* Access key-value using get() method
* Update an existing key's value
* Check if key exists
* Delete entire dictionary
* Make a copy of dictionary using copy() method

In [ ]:
#create nested dictionary
emp={'1001':{'name':'ravi','loc':'hyd'},
     '1002':{'name':'raja','loc':'hyd'},
     '1003':{'name':'rakul','loc':'hyd'} }
print(emp)

{'1001': {'name': 'ravi', 'loc': 'hyd'}, '1002': {'name': 'raja', 'loc': 'hyd'}, '1003': {'name': 'rakul', 'loc': 'hyd'}}

In [ ]:
#Create 3 dictionaries then create 1 dictionary that will contain the other 3 dictionaries
emp1={'id':'t200','name':'ravi','sal':15000}
emp2={'id':'t201','name':'ram','sal':20000}
emp3={'id':'t202','name':'raj','sal':25000}

emps={'t200':{'name':'ravi','sal':15000},
     't201':{'name':'ram','sal':20000},
     't203':{'name':'raj','sal':25000} }
print(emps)

{'t200': {'name': 'ravi', 'sal': 15000}, 't201': {'name': 'ram', 'sal': 20000}, 't203': {'name': 'raj', 'sal': 25000}}

In [ ]:
#Access key-value using get() method
emps={'t200':{'name':'ravi','sal':15000},
     't201':{'name':'ram','sal':20000},
     't203':{'name':'raj','sal':25000} }
emps['t200'].get('name')

'ravi'

In [ ]:
#Update an existing key's value
emps['t200']['name']='rama'
print(emps)

{'t200': {'name': 'rama', 'sal': 15000}, 't201': {'name': 'ram', 'sal': 20000}, 't203': {'name': 'raj', 'sal': 25000}}

In [ ]:
#Check if key exists
print(emps.get('t300'))

None

In [ ]:
#Delete entire dictionary
emps1={'t200':{'name':'ravi','sal':15000},
     't201':{'name':'ram','sal':20000},
     't203':{'name':'raj','sal':25000} }
del(emps1)
print(emps1)

NameError: ignored

In [ ]:
#Make a copy of dictionary using copy() method
emps1=emps.copy()
print(emps1)

{'t200': {'name': 'rama', 'sal': 15000}, 't201': {'name': 'ram', 'sal': 20000}, 't203': {'name': 'raj', 'sal': 25000}}