In [ ]:
# Cltrl + Enter    Alt + Enter  Shift + Enter

# VARIABLES 
  * A python variable is reserved memory location to store values. A variable is created the moment you assign a value to it.

In [ ]:
_var=10

In [ ]:
@var=10

In [ ]:
_=100

In [ ]:
# ASSIGNMENT 
first_string_var = "Test Variable"
first_int_var = 100

In [ ]:
first_int_var = first_int_var + 100
print(first_int_var)

200

In [ ]:
type(first_string_var)

str

In [ ]:
# Multiplying string var with integer
first_string_var*5

'Test VariableTest VariableTest VariableTest VariableTest Variable'

# Multiple Assignments
* Multiple variables can be assigned simultaneously

In [ ]:
intvar, strvar, floatvar, boolvar = 10000, "This is python variable", 123.45, True
print(intvar, strvar, floatvar, boolvar)

10000 This is python variable 123.45 True

In [ ]:
print("Integer Value {}, String Value {}, Float Value {}, Boolean Value {}".format(intvar, strvar, floatvar, boolvar))

Integer Value 10000, String Value This is python variable, Float Value 123.45, Boolean Value True

# DATA TYPES 
  * isinstance() - returns if an obj is an instance of a class or of a subclass.

In [ ]:
var1=10
print(var1, " is integer ? ", isinstance(var1,int))

10  is integer ?  True

In [ ]:
print(isinstance(var1,str))

False

In [ ]:
var2=24+0j
print(isinstance(var2,int))

False

In [ ]:
print(isinstance(var2,complex))

True

In [ ]:
# Displays unique id of any variable in python
id(var2)

140124431565424

#PRIMITIVE DATA TYPES
  * Int
  * Float
  * Complex
  * String
  * Boolean

In [ ]:
# This is integer data type
var1=10

In [ ]:
# Returns datatype of the variable
print(type(var1))

<class 'int'>

In [ ]:
# prints value of variable
print(var1)

10

In [ ]:
# This is a float datatype
var2=1234.56

In [ ]:
type(var2)

float

In [ ]:
var3='This is a string'
var4="This is also a string"

In [ ]:
print(var3,var4)

This is a string This is also a string

In [ ]:
type(var3)

str

In [ ]:
type(var4)

str

In [ ]:
?type

In [ ]:
# real + imaginary part
var6 = 23+56j

In [ ]:
# imaginary part
var7 = 12j
type(var7)

complex

In [ ]:
bool_1=True
bool_2=False
type(bool_1)

bool

# OPERATORS
Operators are constraints which can help manipulate the value of operands
  1. Arithmatic Operators - used to perform mathematical operators like add, subtract, multiply, etc
  2. Comparision Operators - used to compare values. It either returns True or False according to the condition
  3. Logical Operators (and,or,not) - used to perform logical operations
  4. Bitwise Operators (&,|,~,^) - These act like operators as if they were string of binary digits. It operates bit by bit.
  5. Assignment Operators - used to assign values to variable
  6. Ternary Operators -  also known as conditional statements, test a condition in a single line replacing mutiple lines of code.

In [ ]:
34+45

79

In [ ]:
print(34**2)
print(34/2)

1156
17.0

In [ ]:
# ARITHMATIC OPERATORS
variable1, variable2 = 5, 2
print(variable1 + variable2)
print(variable1 - variable2)
print(variable1 * variable2)
print(variable1 / variable2)
print(variable1 // variable2)   #Truncation division
print(variable1 % variable2)    #Modulo returns remainder
print(variable1 ** variable2)   #Power of number

7
3
10
2.5
2
1
25

In [ ]:
# COMPARISION OPERATORS
variable1, variable2 = 7, 3
print(variable1 > variable2)
print(variable1 < variable2)
print(variable1 == variable2)
print(variable1 != variable2)

True
False
False
True

In [ ]:
# LOGICAL OPERATORS
variable1, variable2 = True, False
print(variable1 and variable2)
print(variable1 or variable2)
print(not variable2)

False
True
True

In [ ]:
# BITWISE OPERATORS
variable1, variable2 = 3,7
print(variable1 & variable2)  # Bitwise AND -> 0000 0011 & 0000 0111 -> 0000 0011  
print(variable1 | variable2)  # Bitwise OR  -> 0000 0011 | 0000 0111 -> 0000 0111
print(~variable2)
print(variable1 ^ variable2)  # Bitwise XOR -> 0000 0011 ^ 0000 0111 -> 0000 0100

3
7
-8
4

In [ ]:
# ASSIGNMENT OPERATORS
var3 = 40

var3 += 4
print(var3)

var3 -= 4
print(var3)

var3 *= 4
print(var3)

var3 /= 4
print(var3)

var3 %= 4
print(var3)

44
40
160
40.0
0.0

In [ ]:
a, b=10,20
max = a if a>b else b
print(max)

20

#IMPORT

In [ ]:
#invalid syntax
import=10

In [ ]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
# len() -  It returns the LENGTH of list of keywords
len(keyword.kwlist)

35

In [ ]:
import sys

In [ ]:
sys.version

'3.8.10 (default, Nov 14 2022, 12:59:47) \n[GCC 9.4.0]'

In [ ]:
print(sys.version)

3.8.10 (default, Nov 14 2022, 12:59:47)
[GCC 9.4.0]

In [ ]:
import platform
platform.python_version()

'3.8.10'

#STRING METHODS

In [ ]:
str_1="This is Python's String1"
str_2="This is Python's String2"

In [ ]:
# Concatination of Strings
str_3=str_1+' '+str_2
print(str_3)

This is Python's String1 This is Python's String2

In [ ]:
str_3.capitalize()

"This is python's string1 this is python's string2"

In [ ]:
str_3.title()

"This Is Python'S String1 This Is Python'S String2"

In [ ]:
str_3.lower()

"this is python's string1 this is python's string2"

In [ ]:
str_5="This,is,a,python program"
#separator or delimiter ',' ' '
print(str_5.split(','))

['This', 'is', 'a', 'python program']

In [ ]:
str_5="This is a python program"
print(str_5.split(' '))

['This', 'is', 'a', 'python', 'program']

In [ ]:
str_6="Data Engineering with Python"
str_6.partition(' with ')

('Data Engineering', ' with ', 'Python')

#INDEXING AND SLICING

In [ ]:
str_4="This is TEK Python Session. We are learning about python basics"

In [ ]:
str_4[0]

'T'

In [ ]:
str_4[-1]

's'

In [ ]:
str_4[8]

'T'

In [ ]:
str_4[-6]

'b'

In [ ]:
# find returns index position if word from string
str_4.find('Python')

12

In [ ]:
str_4.find('python')

50

In [ ]:
# find returns index only for first word from the entire string
str_4.lower().find('python')

12

In [ ]:
str_4.find('.')

26

In [ ]:
str_4[:]

'This is TEK Python Session. We are learning about python basics'

In [ ]:
str_4[8:26]

'TEK Python Session'

In [ ]:
str_4[8:26:2]

'TKPto eso'

In [ ]:
# slicing last 6 elements
str_4[-6:]

'basics'

In [ ]:
# reverse string
str_4[::-1]

'scisab nohtyp tuoba gninrael era eW .noisseS nohtyP KET si sihT'

#LISTS
* This is mutable data structure. Modification is allowed
* It is heterogenous collection of multiplle data items of diff datatypes
eg. int, complex, boolean, float, strings, etc.
* Duplicate values are allowed.

In [ ]:
# empty list declaration
list_1=[]
list_1=list()

In [ ]:
list_1=[123,4,24.4,'This is List Session',67j,True,False]

In [ ]:
# Concatination - 
list_1=[123,4,24.4,'This is List Session']
list_2=['True',True,False,1010101,23+64j]
print(list_1+list_2)

[123, 4, 24.4, 'This is List Session', 'True', True, False, 1010101, (23+64j)]

In [ ]:
# Nested List
list_3=[123,4,24.4,'This is List Session',['True',True,False,1010101,23+64j]]

###METHODS OF LIST

In [ ]:
print(list_1)

[123, 4, 24.4, 'This is List Session']

In [ ]:
# APPEND
list_1.append(True)
print(list_1)

[123, 4, 24.4, 'This is List Session', True, True]

In [ ]:
list_1.append([12132,2343243])
print(list_1)

[123, 4, 24.4, 'This is List Session', True, True, [12132, 2343243]]

In [ ]:
# CLEAR
list_2.clear()
print(list_2)

[]

In [ ]:
# DEL Function - deletes variable from the memory 
del(list_2)

In [ ]:
# COPY
list_2=list_1.copy()
print(list_2)

[123, 4, 24.4, 'This is List Session', True, True, [12132, 2343243]]

In [ ]:
list_4=list_1
print(list_4)

[123, 4, 24.4, 'This is List Session', True, True, [12132, 2343243]]

In [ ]:
list_1.append(False)

In [ ]:
print(list_4)
print(list_2)
list_1.append([123,234])

[123, 4, 24.4, 'This is List Session', True, True, [12132, 2343243], False]
[123, 4, 24.4, 'This is List Session', True, True, [12132, 2343243]]

In [ ]:
# COUNT
list_1.count(123)

1

In [ ]:
# EXTEND - appends multiple values as individual elements in the list
list_1.extend([123,456,432])
print(list_1)

[123, 4, 24.4, 'This is List Session', True, True, [12132, 2343243], False, [123, 234], 123, 456, 432]

In [ ]:
# INDEX - returns the first occuring index value of a single element 
list_1.index(123)

0

In [ ]:
# INSERT - (index,object) it inserts element at a specific index location
list_1.insert(3,29)
print(list_1)

[123, 4, 24.4, 29, 'This is List Session', True, True, [12132, 2343243], False, [123, 234], 123, 456, 432]

In [ ]:
# POP - deletes the element at index position or default value -1
list_1.pop(3)

29

In [ ]:
list_1.pop()

432

In [ ]:
# REMOVE - deletes the first occurance of the element
list_1.remove(123)
print(list_1)

[4, 24.4, 'This is List Session', True, True, [12132, 2343243], False, [123, 234], 123, 456]

In [ ]:
list_1.reverse()
print(list_1)

[4, 24.4, 'This is List Session', True, True, [12132, 2343243], False, [123, 234], 123, 456]

In [ ]:
list_1.sort()

###INDEXING AND SLICING IN LIST

In [ ]:
list_1[-1]

456

In [ ]:
list_1[0]

4

In [ ]:
# SLICING
list_1[::-1]

[456,
 123,
 [123, 234],
 False,
 [12132, 2343243],
 True,
 True,
 'This is List Session',
 24.4,
 4]

In [ ]:
list_1[::2]

[4, 'This is List Session', True, False, 123]

In [ ]:
# print all elements of list
list_1[0:len(list_1)]

[4,
 24.4,
 'This is List Session',
 True,
 True,
 [12132, 2343243],
 False,
 [123, 234],
 123,
 456]

In [ ]:
list_1[5][1]

2343243

In [ ]:
# Concatinating lists
list_5=list_1+list_2

In [ ]:
print(list_5)

[4, 24.4, 'This is List Session', True, True, [12132, 2343243], False, [123, 234], 123, 456, 123, 4, 24.4, 'This is List Session', True, True, [12132, 2343243]]

#TUPLES
* Tuples are similar to list and only difference is they are immutable
* When we dont want to change data over time, tuples are preffered
* Iterating over the elements of tuple is faster compared to iterating in a list
* Tuples takes less memory compared to lists

In [ ]:
# Empty Tuple declaration
tuple1=()
tuple1=tuple()

In [ ]:
tuple1=(123, 4, 24.4, 'This is List Session', True, True, [12132, 2343243], False, [123, 234], 123, 456, 432,(23,'sdfgkas',4.5))

In [ ]:
tuple1.count(123)

2

In [ ]:
tuple1.index(123)

0

In [ ]:
# Cnnot update exsisting tuple value
tuple1[2]='euafo'

In [ ]:
tuple2=(23,45,12.43,True,'sdjfjdf')
tuple3=tuple1+tuple2
print(tuple3)

(123, 4, 24.4, 'This is List Session', True, True, [12132, 2343243], False, [123, 234], 123, 456, 432, (23, 'sdfgkas', 4.5), 23, 45, 12.43, True, 'sdjfjdf')

# SETS
  * Unique collection of elements. No duplicates are allowed.
  * Sets are unordered - have no indes attached to an element
  * mutable and heterogeneous

In [ ]:
# Declaring empty set
set1=set()

In [ ]:
set1={'abc',1234,'ufdskf',23.5,56j,True,False}

In [ ]:
A = {'A','B','C','D','F','H'}
B = {'G','H','I','F','D'}
C = {'A','N','O','P','H','D'}

In [ ]:
# Common values of A and B
A.intersection(B)

{'D', 'F', 'H'}

In [ ]:
A.intersection(B,C)

{'D', 'H'}

In [ ]:
A.difference(B)

{'A', 'B', 'C'}

In [ ]:
A.union(B)

{'A', 'B', 'C', 'D', 'F', 'G', 'H', 'I'}

In [ ]:
A-B

{'A', 'B', 'C'}

In [ ]:
B-A

{'G', 'I'}

In [ ]:
myset1={11323,True,False,'sdf','sdf',74j}
print(myset1)

{False, True, 74j, 11323, 'sdf'}

In [ ]:
# ADDing individual value
myset1.add(3333)
print(myset1)

{False, True, 3333, 74j, 11323, 'sdf'}

In [ ]:
# UPDATE - to add multiple values 
myset1.update(['11,22,33'])
print(myset1)

{False, True, 3333, 74j, '11,22,33', 11323, 'sdf'}

In [ ]:
myset1.pop()

False

#DICTIONARY
  * Pair of keys and values where keys need to be unique
  * They are mutable

In [ ]:
# Declaring empty dictionary
dict1={}
print(type(dict1))

<class 'dict'>

In [ ]:
emp1={'empid':'TEK1001','name':'xyz','age':'22','city':'hyd'}
print(emp1)

{'empid': 'TEK1001', 'name': 'xyz', 'age': '22', 'city': 'hyd'}

In [ ]:
fb=dict([('A','APPLE'),('B','BANANA'),('C','CARROT')])
print(fb)

{'A': 'APPLE', 'B': 'BANANA', 'C': 'CARROT'}

In [ ]:
# Retuens list of tuples of all items
emp1.items()

dict_items([('empid', 'TEK1001'), ('name', 'xyz'), ('age', '22'), ('city', 'hyd')])

In [ ]:
emp1.keys()

dict_keys(['empid', 'name', 'age', 'city'])

In [ ]:
emp1.values()

dict_values(['TEK1001', 'xyz', '22', 'hyd'])

In [ ]:
# keys from dictionary are used to fetch values
emp1['name']

'xyz'

In [ ]:
emp1['salary']=60000
print(emp1)

{'empid': 'TEK1001', 'name': 'xyz', 'age': '22', 'city': 'hyd', 'salary': 60000}

In [ ]:
emp1.update({'age':[21,22]})
print(emp1)

{'empid': 'TEK1001', 'name': 'xyz', 'age': [21, 22], 'city': 'hyd', 'salary': 60000}

In [ ]:
# POP removes the value by using key
emp1.pop('empid')

'TEK1001'

### NESTED DICTIONARY

In [ ]:
emp={
     '1001':{'name':'ravi','sal':'2000'},
     '1002':{'name':'raj','sal':'30000'},
     '1003':{'name':'rakul','sal':'9000'}
}
print(emp)

{'1001': {'name': 'ravi', 'sal': '2000'}, '1002': {'name': 'raj', 'sal': '30000'}, '1003': {'name': 'rakul', 'sal': '9000'}}

In [ ]:
emp['1001']

{'name': 'ravi', 'sal': '2000'}

In [ ]:
emp['1001']['name']

'ravi'