# PYTHON STATEMENTS

In [ ]:
# Multiple line statements 
number = 10+20+30+ \
         40+50+60+ \
         20
print(number)
number = (10+20+30+ 
         40+50+60+ 
         20)
print(number)

230
230

# PYTHON INDENTATION
  *Unlike C, C++, Java where we use braces {} to define a block of code. In python we use indentation.

In [ ]:
var1=10
     var_2=20

In [ ]:
var_1=10
var_2=20

In [ ]:
p=10
if p==10:
print("abc")

# CONDITIONAL STATEMENTS
  * Control or conditional statements allow to check conditions and change behaviour of a program.

In [ ]:
number = 20

if number<15:
  print("Num is less than 15")
  print("within if block")
#default
print("Outside if block")

Outside if block

In [ ]:
age = 17

if age >= 18:
  print("Adult")
else:
  print("Child")

Child

In [ ]:
#NESTED IF STATEMENTS 
age =14

if age>=13:
  if age<=19:
    print("Teen")
  else:
    print("Adult")
else:
  print("Child")
print("This is default and this statement will always get executed")

Teen
This is default and this statement will always get executed

In [ ]:
age = input("Enter a number: ")   # input takes in string as default
print(type(age))

Enter a number: 2
<class 'str'>

In [ ]:
age = int(input("Enter a number: "))
print(type(age))

Enter a number: 3
<class 'int'>

In [ ]:
#NESTED IF STATEMENTS 
age = int(input("Enter a num: "))

if age>=13:
  if age<=19:
    print("Teen")
  else:
    print("Adult")
else:
  print("Child")

Enter a num: 34
Adult

In [ ]:
# if...  elif(else if)...  else
marks= float(input("Enter the marks: "))

if marks>90:
  print("Grade A")
elif 80<marks<=90:
  print("Grade B")
elif 70<marks<=80:
  print("Grade C")
elif 60<marks<=70:
  print("Grade D")
elif 50<marks<=60:
  print("Grade E")
else:
  print("Grade F")

Enter the marks: 34.5
Grade F

# Ternary Operators
* Also known as conditional statements, test a condition in a single line replacing mutiple lines of code.

In [ ]:
a, b=10,20
max = a if a>b else b
print(max)

20

In [ ]:
age = int(input("Enter age: "))
out= "adult" if age>=18 else "child"
print(out)

Enter age: 21
adult

In [ ]:
brother = float(input("Enter brother age: "))
sister = float(input("Enter sister age: "))

if brother>sister:
  print("brother is elder")
elif sister>brother:
  print("sister is greater")
else: 
  print("both are twins")

Enter brother age: 12
Enter sister age: 12
both are twins

In [ ]:
brother = float(input("Enter brother age: "))
sister = float(input("Enter sister age: "))

out = "brother is elder" if brother>sister else "sister is elder" if sister>brother else "both are twins"
print(out)

Enter brother age: 12
Enter sister age: 12
both are twins

# WHILE LOOP
  * use while loop to iterate over a block of code as long as the test expression is true or if the breal statement is found.

In [ ]:
mylist = [10,20,30,40,50,60,70,80,90]

index=0
while index<len(mylist):
  print(mylist[index])
  # update
  index+=1

10
20
30
40
50
60
70
80
90

In [ ]:
mylist = [10,20,30,40,50,60,70,80,90]

index=0
sum=0
while index<len(mylist):
  sum+=mylist[index]
  index+=1
print(sum)

450

# WHILE LOOP WITH ELSE
  * While loop in python have an optional else part 
  * The statements in else will be executed when condition is not fulfilled anymore.

In [ ]:
guess_val = 5
guess=0
while guess != guess_val:
  guess=int(input("enter new number: "))
  if guess>0:
    if guess>guess_val:
      print("number is too large")
    elif guess<guess_val:
      print("number is too small")
  else:
    print("Sorry! that you are giving up")
    break
    
else:
  print("congratulations !")

enter new number: -3
Sorry! that you are giving up

## Find list of even digit numbers
Problem statement : write a program which will print all numbers between 1000 and 3000 (both included) such that each digit of number is an even number.

In [ ]:
mylist=[]
num=1000
while num <= 3000:
  if num%2 == 0:
    mylist.append(num)
  num+=1
print(mylist)

[1000, 1002, 1004, 1006, 1008, 1010, 1012, 1014, 1016, 1018, 1020, 1022, 1024, 1026, 1028, 1030, 1032, 1034, 1036, 1038, 1040, 1042, 1044, 1046, 1048, 1050, 1052, 1054, 1056, 1058, 1060, 1062, 1064, 1066, 1068, 1070, 1072, 1074, 1076, 1078, 1080, 1082, 1084, 1086, 1088, 1090, 1092, 1094, 1096, 1098, 1100, 1102, 1104, 1106, 1108, 1110, 1112, 1114, 1116, 1118, 1120, 1122, 1124, 1126, 1128, 1130, 1132, 1134, 1136, 1138, 1140, 1142, 1144, 1146, 1148, 1150, 1152, 1154, 1156, 1158, 1160, 1162, 1164, 1166, 1168, 1170, 1172, 1174, 1176, 1178, 1180, 1182, 1184, 1186, 1188, 1190, 1192, 1194, 1196, 1198, 1200, 1202, 1204, 1206, 1208, 1210, 1212, 1214, 1216, 1218, 1220, 1222, 1224, 1226, 1228, 1230, 1232, 1234, 1236, 1238, 1240, 1242, 1244, 1246, 1248, 1250, 1252, 1254, 1256, 1258, 1260, 1262, 1264, 1266, 1268, 1270, 1272, 1274, 1276, 1278, 1280, 1282, 1284, 1286, 1288, 1290, 1292, 1294, 1296, 1298, 1300, 1302, 1304, 1306, 1308, 1310, 1312, 1314, 1316, 1318, 1320, 1322, 1324, 1326, 1328, 1330, 1332, 1334, 1336, 1338, 1340, 1342, 1344, 1346, 1348, 1350, 1352, 1354, 1356, 1358, 1360, 1362, 1364, 1366, 1368, 1370, 1372, 1374, 1376, 1378, 1380, 1382, 1384, 1386, 1388, 1390, 1392, 1394, 1396, 1398, 1400, 1402, 1404, 1406, 1408, 1410, 1412, 1414, 1416, 1418, 1420, 1422, 1424, 1426, 1428, 1430, 1432, 1434, 1436, 1438, 1440, 1442, 1444, 1446, 1448, 1450, 1452, 1454, 1456, 1458, 1460, 1462, 1464, 1466, 1468, 1470, 1472, 1474, 1476, 1478, 1480, 1482, 1484, 1486, 1488, 1490, 1492, 1494, 1496, 1498, 1500, 1502, 1504, 1506, 1508, 1510, 1512, 1514, 1516, 1518, 1520, 1522, 1524, 1526, 1528, 1530, 1532, 1534, 1536, 1538, 1540, 1542, 1544, 1546, 1548, 1550, 1552, 1554, 1556, 1558, 1560, 1562, 1564, 1566, 1568, 1570, 1572, 1574, 1576, 1578, 1580, 1582, 1584, 1586, 1588, 1590, 1592, 1594, 1596, 1598, 1600, 1602, 1604, 1606, 1608, 1610, 1612, 1614, 1616, 1618, 1620, 1622, 1624, 1626, 1628, 1630, 1632, 1634, 1636, 1638, 1640, 1642, 1644, 1646, 1648, 1650, 1652, 1654, 1656, 1658, 1660, 1662, 1664, 1666, 1668, 1670, 1672, 1674, 1676, 1678, 1680, 1682, 1684, 1686, 1688, 1690, 1692, 1694, 1696, 1698, 1700, 1702, 1704, 1706, 1708, 1710, 1712, 1714, 1716, 1718, 1720, 1722, 1724, 1726, 1728, 1730, 1732, 1734, 1736, 1738, 1740, 1742, 1744, 1746, 1748, 1750, 1752, 1754, 1756, 1758, 1760, 1762, 1764, 1766, 1768, 1770, 1772, 1774, 1776, 1778, 1780, 1782, 1784, 1786, 1788, 1790, 1792, 1794, 1796, 1798, 1800, 1802, 1804, 1806, 1808, 1810, 1812, 1814, 1816, 1818, 1820, 1822, 1824, 1826, 1828, 1830, 1832, 1834, 1836, 1838, 1840, 1842, 1844, 1846, 1848, 1850, 1852, 1854, 1856, 1858, 1860, 1862, 1864, 1866, 1868, 1870, 1872, 1874, 1876, 1878, 1880, 1882, 1884, 1886, 1888, 1890, 1892, 1894, 1896, 1898, 1900, 1902, 1904, 1906, 1908, 1910, 1912, 1914, 1916, 1918, 1920, 1922, 1924, 1926, 1928, 1930, 1932, 1934, 1936, 1938, 1940, 1942, 1944, 1946, 1948, 1950, 1952, 1954, 1956, 1958, 1960, 1962, 1964, 1966, 1968, 1970, 1972, 1974, 1976, 1978, 1980, 1982, 1984, 1986, 1988, 1990, 1992, 1994, 1996, 1998, 2000, 2002, 2004, 2006, 2008, 2010, 2012, 2014, 2016, 2018, 2020, 2022, 2024, 2026, 2028, 2030, 2032, 2034, 2036, 2038, 2040, 2042, 2044, 2046, 2048, 2050, 2052, 2054, 2056, 2058, 2060, 2062, 2064, 2066, 2068, 2070, 2072, 2074, 2076, 2078, 2080, 2082, 2084, 2086, 2088, 2090, 2092, 2094, 2096, 2098, 2100, 2102, 2104, 2106, 2108, 2110, 2112, 2114, 2116, 2118, 2120, 2122, 2124, 2126, 2128, 2130, 2132, 2134, 2136, 2138, 2140, 2142, 2144, 2146, 2148, 2150, 2152, 2154, 2156, 2158, 2160, 2162, 2164, 2166, 2168, 2170, 2172, 2174, 2176, 2178, 2180, 2182, 2184, 2186, 2188, 2190, 2192, 2194, 2196, 2198, 2200, 2202, 2204, 2206, 2208, 2210, 2212, 2214, 2216, 2218, 2220, 2222, 2224, 2226, 2228, 2230, 2232, 2234, 2236, 2238, 2240, 2242, 2244, 2246, 2248, 2250, 2252, 2254, 2256, 2258, 2260, 2262, 2264, 2266, 2268, 2270, 2272, 2274, 2276, 2278, 2280, 2282, 2284, 2286, 2288, 2290, 2292, 2294, 2296, 2298, 2300, 2302, 2304, 2306, 2308, 2310, 2312, 2314, 2316, 2318, 2320, 2322, 2324, 2326, 2328, 2330, 2332, 2334, 2336, 2338, 2340, 2342, 2344, 2346, 2348, 2350, 2352, 2354, 2356, 2358, 2360, 2362, 2364, 2366, 2368, 2370, 2372, 2374, 2376, 2378, 2380, 2382, 2384, 2386, 2388, 2390, 2392, 2394, 2396, 2398, 2400, 2402, 2404, 2406, 2408, 2410, 2412, 2414, 2416, 2418, 2420, 2422, 2424, 2426, 2428, 2430, 2432, 2434, 2436, 2438, 2440, 2442, 2444, 2446, 2448, 2450, 2452, 2454, 2456, 2458, 2460, 2462, 2464, 2466, 2468, 2470, 2472, 2474, 2476, 2478, 2480, 2482, 2484, 2486, 2488, 2490, 2492, 2494, 2496, 2498, 2500, 2502, 2504, 2506, 2508, 2510, 2512, 2514, 2516, 2518, 2520, 2522, 2524, 2526, 2528, 2530, 2532, 2534, 2536, 2538, 2540, 2542, 2544, 2546, 2548, 2550, 2552, 2554, 2556, 2558, 2560, 2562, 2564, 2566, 2568, 2570, 2572, 2574, 2576, 2578, 2580, 2582, 2584, 2586, 2588, 2590, 2592, 2594, 2596, 2598, 2600, 2602, 2604, 2606, 2608, 2610, 2612, 2614, 2616, 2618, 2620, 2622, 2624, 2626, 2628, 2630, 2632, 2634, 2636, 2638, 2640, 2642, 2644, 2646, 2648, 2650, 2652, 2654, 2656, 2658, 2660, 2662, 2664, 2666, 2668, 2670, 2672, 2674, 2676, 2678, 2680, 2682, 2684, 2686, 2688, 2690, 2692, 2694, 2696, 2698, 2700, 2702, 2704, 2706, 2708, 2710, 2712, 2714, 2716, 2718, 2720, 2722, 2724, 2726, 2728, 2730, 2732, 2734, 2736, 2738, 2740, 2742, 2744, 2746, 2748, 2750, 2752, 2754, 2756, 2758, 2760, 2762, 2764, 2766, 2768, 2770, 2772, 2774, 2776, 2778, 2780, 2782, 2784, 2786, 2788, 2790, 2792, 2794, 2796, 2798, 2800, 2802, 2804, 2806, 2808, 2810, 2812, 2814, 2816, 2818, 2820, 2822, 2824, 2826, 2828, 2830, 2832, 2834, 2836, 2838, 2840, 2842, 2844, 2846, 2848, 2850, 2852, 2854, 2856, 2858, 2860, 2862, 2864, 2866, 2868, 2870, 2872, 2874, 2876, 2878, 2880, 2882, 2884, 2886, 2888, 2890, 2892, 2894, 2896, 2898, 2900, 2902, 2904, 2906, 2908, 2910, 2912, 2914, 2916, 2918, 2920, 2922, 2924, 2926, 2928, 2930, 2932, 2934, 2936, 2938, 2940, 2942, 2944, 2946, 2948, 2950, 2952, 2954, 2956, 2958, 2960, 2962, 2964, 2966, 2968, 2970, 2972, 2974, 2976, 2978, 2980, 2982, 2984, 2986, 2988, 2990, 2992, 2994, 2996, 2998, 3000]

# FOR LOOP 
* Python for loop is an iterator-based for loop. It steps through the items of lists, tuples, strings, key of dictionaries and other iterables.

In [ ]:
mylist = [10,20,30,40,50,60,70,80,90]

add=0
#Iterate over lists
for i in mylist:
  add+=i
print("Sum of lists is {}".format(add))

Sum of lists is 450

In [ ]:
for val in range(1,11):
  print(val)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for val in range(0,11,3):   # 3 is the step count
  print(val)

0
3
6
9

## Find list of even digit numbers
Problem statement : write a program which will print all numbers between 1000 and 3000 (both included) such that each digit of number is an even number.

In [ ]:
mylist=[]
for val in range (1000,3001):
  if val%2 == 0:
    mylist.append(val)
print(mylist)

[1000, 1002, 1004, 1006, 1008, 1010, 1012, 1014, 1016, 1018, 1020, 1022, 1024, 1026, 1028, 1030, 1032, 1034, 1036, 1038, 1040, 1042, 1044, 1046, 1048, 1050, 1052, 1054, 1056, 1058, 1060, 1062, 1064, 1066, 1068, 1070, 1072, 1074, 1076, 1078, 1080, 1082, 1084, 1086, 1088, 1090, 1092, 1094, 1096, 1098, 1100, 1102, 1104, 1106, 1108, 1110, 1112, 1114, 1116, 1118, 1120, 1122, 1124, 1126, 1128, 1130, 1132, 1134, 1136, 1138, 1140, 1142, 1144, 1146, 1148, 1150, 1152, 1154, 1156, 1158, 1160, 1162, 1164, 1166, 1168, 1170, 1172, 1174, 1176, 1178, 1180, 1182, 1184, 1186, 1188, 1190, 1192, 1194, 1196, 1198, 1200, 1202, 1204, 1206, 1208, 1210, 1212, 1214, 1216, 1218, 1220, 1222, 1224, 1226, 1228, 1230, 1232, 1234, 1236, 1238, 1240, 1242, 1244, 1246, 1248, 1250, 1252, 1254, 1256, 1258, 1260, 1262, 1264, 1266, 1268, 1270, 1272, 1274, 1276, 1278, 1280, 1282, 1284, 1286, 1288, 1290, 1292, 1294, 1296, 1298, 1300, 1302, 1304, 1306, 1308, 1310, 1312, 1314, 1316, 1318, 1320, 1322, 1324, 1326, 1328, 1330, 1332, 1334, 1336, 1338, 1340, 1342, 1344, 1346, 1348, 1350, 1352, 1354, 1356, 1358, 1360, 1362, 1364, 1366, 1368, 1370, 1372, 1374, 1376, 1378, 1380, 1382, 1384, 1386, 1388, 1390, 1392, 1394, 1396, 1398, 1400, 1402, 1404, 1406, 1408, 1410, 1412, 1414, 1416, 1418, 1420, 1422, 1424, 1426, 1428, 1430, 1432, 1434, 1436, 1438, 1440, 1442, 1444, 1446, 1448, 1450, 1452, 1454, 1456, 1458, 1460, 1462, 1464, 1466, 1468, 1470, 1472, 1474, 1476, 1478, 1480, 1482, 1484, 1486, 1488, 1490, 1492, 1494, 1496, 1498, 1500, 1502, 1504, 1506, 1508, 1510, 1512, 1514, 1516, 1518, 1520, 1522, 1524, 1526, 1528, 1530, 1532, 1534, 1536, 1538, 1540, 1542, 1544, 1546, 1548, 1550, 1552, 1554, 1556, 1558, 1560, 1562, 1564, 1566, 1568, 1570, 1572, 1574, 1576, 1578, 1580, 1582, 1584, 1586, 1588, 1590, 1592, 1594, 1596, 1598, 1600, 1602, 1604, 1606, 1608, 1610, 1612, 1614, 1616, 1618, 1620, 1622, 1624, 1626, 1628, 1630, 1632, 1634, 1636, 1638, 1640, 1642, 1644, 1646, 1648, 1650, 1652, 1654, 1656, 1658, 1660, 1662, 1664, 1666, 1668, 1670, 1672, 1674, 1676, 1678, 1680, 1682, 1684, 1686, 1688, 1690, 1692, 1694, 1696, 1698, 1700, 1702, 1704, 1706, 1708, 1710, 1712, 1714, 1716, 1718, 1720, 1722, 1724, 1726, 1728, 1730, 1732, 1734, 1736, 1738, 1740, 1742, 1744, 1746, 1748, 1750, 1752, 1754, 1756, 1758, 1760, 1762, 1764, 1766, 1768, 1770, 1772, 1774, 1776, 1778, 1780, 1782, 1784, 1786, 1788, 1790, 1792, 1794, 1796, 1798, 1800, 1802, 1804, 1806, 1808, 1810, 1812, 1814, 1816, 1818, 1820, 1822, 1824, 1826, 1828, 1830, 1832, 1834, 1836, 1838, 1840, 1842, 1844, 1846, 1848, 1850, 1852, 1854, 1856, 1858, 1860, 1862, 1864, 1866, 1868, 1870, 1872, 1874, 1876, 1878, 1880, 1882, 1884, 1886, 1888, 1890, 1892, 1894, 1896, 1898, 1900, 1902, 1904, 1906, 1908, 1910, 1912, 1914, 1916, 1918, 1920, 1922, 1924, 1926, 1928, 1930, 1932, 1934, 1936, 1938, 1940, 1942, 1944, 1946, 1948, 1950, 1952, 1954, 1956, 1958, 1960, 1962, 1964, 1966, 1968, 1970, 1972, 1974, 1976, 1978, 1980, 1982, 1984, 1986, 1988, 1990, 1992, 1994, 1996, 1998, 2000, 2002, 2004, 2006, 2008, 2010, 2012, 2014, 2016, 2018, 2020, 2022, 2024, 2026, 2028, 2030, 2032, 2034, 2036, 2038, 2040, 2042, 2044, 2046, 2048, 2050, 2052, 2054, 2056, 2058, 2060, 2062, 2064, 2066, 2068, 2070, 2072, 2074, 2076, 2078, 2080, 2082, 2084, 2086, 2088, 2090, 2092, 2094, 2096, 2098, 2100, 2102, 2104, 2106, 2108, 2110, 2112, 2114, 2116, 2118, 2120, 2122, 2124, 2126, 2128, 2130, 2132, 2134, 2136, 2138, 2140, 2142, 2144, 2146, 2148, 2150, 2152, 2154, 2156, 2158, 2160, 2162, 2164, 2166, 2168, 2170, 2172, 2174, 2176, 2178, 2180, 2182, 2184, 2186, 2188, 2190, 2192, 2194, 2196, 2198, 2200, 2202, 2204, 2206, 2208, 2210, 2212, 2214, 2216, 2218, 2220, 2222, 2224, 2226, 2228, 2230, 2232, 2234, 2236, 2238, 2240, 2242, 2244, 2246, 2248, 2250, 2252, 2254, 2256, 2258, 2260, 2262, 2264, 2266, 2268, 2270, 2272, 2274, 2276, 2278, 2280, 2282, 2284, 2286, 2288, 2290, 2292, 2294, 2296, 2298, 2300, 2302, 2304, 2306, 2308, 2310, 2312, 2314, 2316, 2318, 2320, 2322, 2324, 2326, 2328, 2330, 2332, 2334, 2336, 2338, 2340, 2342, 2344, 2346, 2348, 2350, 2352, 2354, 2356, 2358, 2360, 2362, 2364, 2366, 2368, 2370, 2372, 2374, 2376, 2378, 2380, 2382, 2384, 2386, 2388, 2390, 2392, 2394, 2396, 2398, 2400, 2402, 2404, 2406, 2408, 2410, 2412, 2414, 2416, 2418, 2420, 2422, 2424, 2426, 2428, 2430, 2432, 2434, 2436, 2438, 2440, 2442, 2444, 2446, 2448, 2450, 2452, 2454, 2456, 2458, 2460, 2462, 2464, 2466, 2468, 2470, 2472, 2474, 2476, 2478, 2480, 2482, 2484, 2486, 2488, 2490, 2492, 2494, 2496, 2498, 2500, 2502, 2504, 2506, 2508, 2510, 2512, 2514, 2516, 2518, 2520, 2522, 2524, 2526, 2528, 2530, 2532, 2534, 2536, 2538, 2540, 2542, 2544, 2546, 2548, 2550, 2552, 2554, 2556, 2558, 2560, 2562, 2564, 2566, 2568, 2570, 2572, 2574, 2576, 2578, 2580, 2582, 2584, 2586, 2588, 2590, 2592, 2594, 2596, 2598, 2600, 2602, 2604, 2606, 2608, 2610, 2612, 2614, 2616, 2618, 2620, 2622, 2624, 2626, 2628, 2630, 2632, 2634, 2636, 2638, 2640, 2642, 2644, 2646, 2648, 2650, 2652, 2654, 2656, 2658, 2660, 2662, 2664, 2666, 2668, 2670, 2672, 2674, 2676, 2678, 2680, 2682, 2684, 2686, 2688, 2690, 2692, 2694, 2696, 2698, 2700, 2702, 2704, 2706, 2708, 2710, 2712, 2714, 2716, 2718, 2720, 2722, 2724, 2726, 2728, 2730, 2732, 2734, 2736, 2738, 2740, 2742, 2744, 2746, 2748, 2750, 2752, 2754, 2756, 2758, 2760, 2762, 2764, 2766, 2768, 2770, 2772, 2774, 2776, 2778, 2780, 2782, 2784, 2786, 2788, 2790, 2792, 2794, 2796, 2798, 2800, 2802, 2804, 2806, 2808, 2810, 2812, 2814, 2816, 2818, 2820, 2822, 2824, 2826, 2828, 2830, 2832, 2834, 2836, 2838, 2840, 2842, 2844, 2846, 2848, 2850, 2852, 2854, 2856, 2858, 2860, 2862, 2864, 2866, 2868, 2870, 2872, 2874, 2876, 2878, 2880, 2882, 2884, 2886, 2888, 2890, 2892, 2894, 2896, 2898, 2900, 2902, 2904, 2906, 2908, 2910, 2912, 2914, 2916, 2918, 2920, 2922, 2924, 2926, 2928, 2930, 2932, 2934, 2936, 2938, 2940, 2942, 2944, 2946, 2948, 2950, 2952, 2954, 2956, 2958, 2960, 2962, 2964, 2966, 2968, 2970, 2972, 2974, 2976, 2978, 2980, 2982, 2984, 2986, 2988, 2990, 2992, 2994, 2996, 2998, 3000]

## List of all prime numbers between 1 to 100
Problem Statemnet: Write a program which will print all numbers between 1 and 100 (both included) such that each number is prime number.

In [ ]:
prime=[]
for val in range(1,101):
  cnt, i=0,1
  while i<=val:
    if val%i == 0:
      cnt +=1
    i+=1
  if cnt==2:
    prime.append(val)
print(prime)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

# LOOP & DICTIONARY EXERCISES

In [ ]:
keys=['M','A','N','G']
values=['Meta','Apple','Netflix','Google']
mang = dict(zip(keys,values))
print(mang)

{'M': 'Meta', 'A': 'Apple', 'N': 'Netflix', 'G': 'Google'}

In [ ]:
M={}
for val in range (0,len(keys)):
  M[keys[val]]=values[val]
print(M)

{'M': 'Meta', 'A': 'Apple', 'N': 'Netflix', 'G': 'Google'}

In [ ]:
M={}
for val in range (len(keys)):
  M.update({keys[val] : values[val]})
print(M)

{'M': 'Meta', 'A': 'Apple', 'N': 'Netflix', 'G': 'Google'}

In [ ]:
import time
time.time()

1677230505.2066832

In [ ]:
# Add a delay
# time.sleep()

In [ ]:
M={}
# start timestamp
start=time.time()

for val in range (len(keys)):
  M.update({keys[val] : values[val]})

duration=time.time() - start

print(M)
print(duration)

{'M': 'Meta', 'A': 'Apple', 'N': 'Netflix', 'G': 'Google'}
0.00015401840209960938

## Exercise : Create a dictionary by extracting the keys from a given dictionary

In [ ]:
sample = {
    "name":"XYZ",
    "age":29,
    "salary":100000,
    "city":"new york",
    "contact":8973234567
}

# keys to extract 
keys = ["name","salary"]

k={}
for val in range (len(keys)):
  k[keys[val]]=sample.get(keys[val])
print(k)

kn={keys[0]:sample[keys[0]],keys[1]:sample[keys[1]]}
print(kn)

kn1={k : sample[k] for k in keys}
print(kn1)

{'name': 'XYZ', 'salary': 100000}
{'name': 'XYZ', 'salary': 100000}
{'name': 'XYZ', 'salary': 100000}

In [ ]:
min()
max()
sum()
abs()

min()
max()
sum()
abs()
## Exercise: Scan all keys from dictionary and get a key with minimum value

In [ ]:
sample = {
    'PHY':89,
    'MATH':78,
    "HIST":65
}
# min(iterable = dictionary, key=function)
print(min(sample, key = sample.get))

HIST

## Find frequency of each word from a given input string

In [ ]:
s = 'mumbai delhi delhi hyderabad nagpur hyderabad guwahati delhi'
s1=list()
s1=s.split()
print (s1)

['mumbai', 'delhi', 'delhi', 'hyderabad', 'nagpur', 'hyderabad', 'guwahati', 'delhi']

In [ ]:
print("mumbai : {}".format(s.count("mumbai")))

sample={}
for i in range (len(s1)):
  if sample.get(s1[i]):
    sample[s1[i]]+=1
  else:
    sample[s1[i]]=1
print(sample)

mumbai : 1
{'mumbai': 1, 'delhi': 3, 'hyderabad': 2, 'nagpur': 1, 'guwahati': 1}

# FUNCTIONS
  * In programming, we define a function to make reusable code that performs similar operation. It is block of organized code written to perform a specific task.
  * Information can be passed into function as arguments.
  * Parameters are specific after the function name within paranthesis. function_name(arg1,arg2,....)
  * A function in python is declared using 'def' keyword
  * A function may or may not return data

In [ ]:
# Declaration of a function
def myfunc():
  print("Hello world")

In [ ]:
# Call function
myfunc()

Hello world

## FUNCTION WITH PARAMETERS

In [ ]:
def greetings(name):
  '''
  This function greets a person by its name.
  greetings(name)
  '''
  print("Hello "+str(name)+" Good Evening!")

greetings("arya")

Hello arya Good Evening!

In [ ]:
print(print.__doc__)

print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.

In [ ]:
# .__doc__ use this to get document of methods/function
print(greetings.__doc__)

  This function greets a person by its name.
  greetings(name)

In [ ]:
# Function with 2 arguments
def add(var1,var2):
  var3=var1+var2
  # %s - string, %d%i - numerical(int), %f - float
  print("Sum of two arguments are : %d" %var3)
add(12,23.45)

Sum of two arguments are : 35

In [ ]:
# Function with 2 arguments
def add(var1,var2):
  var3=var1+var2
  # %s - string, %d%i - numerical(int), %f - float
  print("Sum of two arguments are : %f" %var3)
add(12,23.45)

Sum of two arguments are : 35.450000

In [ ]:
# Function with return statement 
def greetings(name):
  statement = "Hello "+name+" Good Evening"
  return statement

# calling a function
greetings("Arya")

'Hello Arya Good Evening'

## Exercise: Create a function calculator takes 3 parameters two number and one operator/operations

In [ ]:
def Calculator(val1,val2,operator):
  if operator == '+':
    val3=val1+val2
  elif operator == '-':
    val3=val1-val2
  elif operator == '*':
    val3=val1*val2
  elif operator == '/':
    val3=val1/val2
  elif operator == '%':
    val3=val1%val2
  return val3

def Cal1(v1,v2,op):
  print(v1+v2) if op=='+' else  print(v1-v2) if op=='-' else  print(v1*v2) if op=='*' else  print(v1/v2) if op=='/' else  print(v1%v2)

val1 = int(input("enter value 1 : "))
operator = input("enter operator : ")
val2 = int(input("enter value 2 : "))

value=Calculator(val1,val2,operator)
print(value)

Cal1(val1,val2,operator)

enter value 1 : 12
enter operator : %
enter value 2 : 12
0
0

# SCOPE OF VARIABLE

In [ ]:
# Global  variable
var = "global variable"
def inner():
  var = 'inner variable'
  print(var)

inner()
print(var)

inner variable
global variable

In [ ]:
# Enclosed scope

var = "Global variable"

def outer():
  var = "outer varaible"
  def inner():
    print(var)
  inner()

outer()
print(var)

outer varaible
Global variable